html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  /* background-color: #f1faee; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --dark-color: #172a45;
  --main-bg-color: #f1faee;
  /* --main-bg-color: #1d3557; */
  --secondary-bg-color: #f1faee;
  /* --secondary-bg-color: #457b9d; */
  --red-bg-color: #e63946;
  --main-light-color: #f1faee;
}

.episode-tab {
  /* color: var(--main-light-color); */
  color: white;
}
.episode-tab:active,
.episode-tab:focus-visible,
.episode-tab:focus,
.episode-tab:focus-within,
.episode-tab:target {
  /* color: var(--dark-color); */

  background-color: #f1faee;
  color: #457b9d;
}

.logoImage {
  width: auto;
  height: 60px;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .logoImage {
    height: 40px;
  }
}
